.navBar{
    display: block;
    position: fixed;
    width: 100%;
    margin: 1.5rem 0;
}
.navbar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_logo{
    display: block;
    text-decoration: none;
    font-family: var(--black) !important;
    font-size: 2rem !important;
    color: var(--colorOrange);
}   
.navbar_items{
    display: flex;
    align-items: center;
}
.navbar_item{
    margin: 0 1rem;
}
.navbar_item_link{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--colorText);
    transition: all 0.3s ease-in;
}
.navbar_item_link:hover{
    color: var(--colorOrange);
}
.navbar_login{
    text-decoration: none;
}