.footer{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    padding: 4rem 0;
    background: url(/images/footer-bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    z-index: 2;
}
.footer::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.footer_content{
    display: block;
    color: var(--colorWhite);
    z-index: 999;
}
.footer_content_title{
    display: block; 
    font-family: var(--black);
    font-size: 2.5rem !important;
    color: var(--colorOrange); 
}
.footer_content_desc{
    display: block;
    font-size: 0.9rem !important;
    line-height: 1.7;    
}
.footer_content_media{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2rem 0;
}
.footer_content_linkMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--colorOrange);
    color: var(--colorWhite);
    border-radius: 50%;
}
.footer_title{
    display: block;
    font-family: var(--black);
    font-size: 1.4rem !important;
    color: var(--colorWhite);
}
.footer_title::after{
    display: block;
    margin-top: 0.6rem;
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.11rem;
    background-color: var(--colorOrange);
}
.footer_wrapper{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.footer_items{
    display: block;
}
.footer_item{
   display: block;
   margin-bottom: 1.5rem;
}
.footer_item_link{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--colorWhite);
    font-size: 1.1rem !important;
    transition: all 0.3s ease-in;
}
.footer_item_link:hover{
    color: var(--colorOrange);
}
.footer_item_icon{
    margin-left: 0.4rem;
}
.footer_item_text{

}
.footer_address{
    display: block;
    margin-top: 2rem;
    color: var(--colorWhite);
}
.footer_address_title{
    font-size: 1.2rem;
    color: var(--colorOrange);
}
.footer_address_text{
    display: block;
    font-size: 0.9rem;
}