/* IMPORT FILE FONT STYLE */
@font-face {
  font-family: iranBold;
  src: url(../../public/font/IRANSansX-Bold.woff);
}
@font-face {
  font-family: iranBlack;
  src: url(../../public/font/IRANSansX-Black.woff);
}
/* IMPORT FILE FONT STYLE */

/* STYLE ROOT  */
:root{
  --bold : iranBold;
  --black: iranBlack;

  --colorBlack: #3A3A3A;
  --colorText: #595959;
  --colorWhite: #ffffff;
  --colorGray-1: #FAFAFB;
  --colorGray-2: #F3F3F3;
  --colorOrange: #F5761A;
  --colorBlue: #4F538A;
  --colorYellow: #F7C633;
  --colorRed: #FF0000;
}
/* STYLE ROOT  */

/* STYLE BODY */
*,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranBold !important;
  font-size: 1rem !important;
}
/* STYLE BODY */


/* STYLE BUTTON  */
.button{
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorOrange);
  outline: none;
  border: none;
  border-radius: 1rem;
  width: 100px;
  height: 3rem;
  font-family: var(--black) !important;
  font-size: 1.3rem;
  color: var(--colorWhite);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button:hover{
  background-color: var(--colorBlack);
}
/* STYLE BUTTON  */